@use 'common/variables';
@use 'common/mixin';
@use 'cart';

.product-items {
    padding: 10px;

    &__images {
        width: 100%;
    }

    &__ttl {
        font-size: 15px;
    }

    &__price {
        display: flex;
    }
}