@use "../common/mixin";
@use "../common/variables";

.pc {
    @include mixin.mq("md", max) {
        display: none;
    }
}

.sp {
    @include mixin.mq("md", min) {
        display: none;
    }
}

.nospace {
    @include mixin.leadingTrim(var(--lh, var(--lineheight-base)));
}

#c-loading {
    display: none;

    #orderLoading {
        position: fixed;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
        top: 0;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
            position: relative;
            z-index: 1;
        }
    }
}

/* Popup nền mờ */
.popup-message {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 9999;
}

.popup-message.show {
    display: flex;
}

/* Hộp nội dung */
.popup-content {
    background: #fff;
    border-radius: 12px;
    padding: 25px 30px;
    text-align: center;
    min-width: 500px;
    max-width: 500px;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.2);
    animation: fadeInScale 0.3s ease;
    position: relative;
}

/* Hiệu ứng fade in scale */
@keyframes fadeInScale {
    from {
        transform: scale(0.8);
        opacity: 0;
    }

    to {
        transform: scale(1);
        opacity: 1;
    }
}

/* Nút đóng */
#popupClose {
    background: #007bff;
    border: none;
    color: white;
    cursor: pointer;
    width: 30px;
    height: 29px;
    position: absolute;
    right: -10px;
    display: flex;
    top: -10px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
}

#popupClose:hover {
    background: #0056b3;
}

.popup-success #popupText {
    color: #28a745;
}

.popup-error #popupText {
    color: #dc3545;
}

.error-msg {
    color: red;
    font-style: italic;
    margin-top: 5px;
}

.pagination {
    display: flex;
    gap: 20px;
    margin: 20px 0;

    li {
        width: 30px;
        height: 30px;
        background: #eee;
        display: flex;
        align-items: center;
        justify-content: center;

        span {
            background: red;
            color: #fff;
            display: flex;
            width: 100%;
            height: 100%;
            align-items: center;
            justify-content: center;
        }

        a {
            display: flex;
            width: 100%;
            height: 100%;
            background: #eee;
            align-items: center;
            justify-content: center;
            font-size: 13px;
        }

    }
}

.p-products {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.register-form {
    max-width: 400px;
    background: #fff;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
}

.register-form .form-group {
    margin-bottom: 12px;
}

.register-form input,
.register-form textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 8px;
}

.btn-primary {
    background: #007bff;
    border: none;
    padding: 8px 14px;
    color: #fff;
    border-radius: 8px;
    cursor: pointer;
}

.msg-box {
    margin-top: 10px;
    display: none;
}

.msg-box .success {
    color: green;
}

.msg-box .error {
    color: red;
}